body {
    background-color: black;
    color: #fff;
}

.fixed-top {
    background-color: #000;
}
.logo {
    position: relative;
    width: 100px;
    height: 100px; 
    border: solid 7px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.logo::before {
    content: "";
    position: absolute;
    width: 131%;
    height: 5px;
    background-color: #fff;
    top: 64%;
    left: -14%;
    transform: translateY(-50%) rotate(-36deg);
}

.brand-name{
    padding-top: 8px;
    font-size: 13px;
}

.field-name{
    font-size: 14px;
}

@media screen and (max-width: 986px) {
    .logo {
        width: 70px;
        height: 70px; 
        border: solid 5px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .logo::before {  
        height: 5px;
        
    }

    .brand-name{
        padding-top: 4px;
        font-size: 9px;
    }

    .field-name{
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    .logo {    
        width: 50px;
        height: 50px; 
        border: solid 4px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .logo::before {
        height: 4px;
    }

    .brand-name{
        padding-top: 2px;
        font-size: 6.5px;
    }

    .field-name{
        font-size: 7px;
    }
}

.menu-item {
    font-size: x-large;
    padding-right: 7rem;
    padding-top: 2rem;
}

.menu-item.active::after {
    content: ''; 
    display: block;
    width: 100%; 
    height: 3px; 
    background-color: #fff;
}

@media screen and (max-width: 986px) {
    .menu-item {
        font-size: medium;
        padding-right: 1rem;
        padding-top: 1.5rem;
    }
}

@media screen and (max-width: 300px) {
    .menu-item {
        font-size: small;
        padding-right: 7px;
        padding-top: 1rem;
    }
}

.pt-content {
    padding-top: 75px;
}

.content{
    padding-top: 0.1rem;
}

.content-head{
    font-size: 4rem;
    font-weight: bolder;
}

.content-icon-1 {
    font-size: 15rem;
}

.content-icon-2 {
    font-size: 5rem;
    padding-top: 170px;
}

.content-p{
    font-size: 1.5rem;
    margin-top: 4.5rem;
}



@media screen and (max-width: 986px) {
    .pt-content {
        padding-top: 35px;
    }

        .content{
        padding-top: 0.1rem;
    }
    
    .content-head{
        font-size: xx-large;
        font-weight: bolder;
    }

    .content-icon-1 {
        font-size: 10rem;
    }

    .content-icon-2 {
        font-size: 4rem;
        padding-top: 101px;
    }

    .content-p{
        font-size: 1rem;
        margin-top: 0rem;
    }
}

@media screen and (max-width: 300px) {
    .pt-content {
        padding-top: 30px;
    }
    .content{
        padding-top: 0.1rem;
    }

    .content-head{
        font-size: xx-large;
        font-weight: bolder;
    }

    .content-icon-1 {
        font-size: 6rem;
    }

    .content-icon-2 {
        font-size: 2rem;
        padding-top: 71px;
    }

    .content-p{
        font-size: 1rem;
        margin-top: 0rem;
    }
    
}

.button-div {
    margin-top: 30px;
}

.btn-lg {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 300px) {
    .button-div {
        margin-top: 20px;
    }
    .btn-lg {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
        font-size: 15px;
    } 
}

.boxes {
    padding-top: 7rem;
}

.box {
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    height: 100%; 
}
  

.box-head {
    font-size: 30px;
    font-weight: 500;
    padding-top: 3rem;
    text-align: center;
}

.box-icon {
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 3rem;
    /* background-color: #fff; */
    background-color: #000;
    color: #000;
    border-radius: 50%;
    padding-left: 13px; 
    padding-right: 13px;
    top: 0;
    border: solid;
    border-color: white;
    padding: 15px;
}


.box-text {
    font-size: 20px;
    text-align: center;
    margin-top: 7px;
}

@media screen and (max-width: 986px) {
    .box-col {
        padding-left: 1px !important;
        padding-right: 1px !important;
        margin-bottom: 30px;
    }

    .boxes {
        padding-top: 4rem;
    }

    .box{
        border-radius: 7px;
    }

    .box-icon {
        font-size: 2rem;
        padding-left: 10px; 
        padding-right: 10px;
    }

    .box-head {
        font-size: 17px;
        padding-top: 2.5rem;
    }

    .box-text {
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    .box-col {
        padding-left: 1px !important;
        padding-right: 1px !important;
        margin-bottom: 30px;
    }

    .boxes {
        padding-top: 2.5rem;
    }

    .box{
        border-radius: 5px;
    }

    .box-icon {
        font-size: 1rem;
        padding-left: 5px; 
        padding-right: 5px;
    }

    .box-head {
        font-size: 11px;
        padding-top: 1rem;
    }

    .box-text {
        font-size: 5px;
    }
    
}



.card {
    color: #fff;
    background-color: #000;
    border: solid;
    height: 100%; 
}
.card-icon {
    font-size: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.card-col {
    padding-bottom: 1rem;
}

@media screen and (max-width: 986px) {
    .card-col {
        padding-bottom: 0.3rem;
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}
@media screen and (max-width: 300px) {
    .card-col {
        padding-bottom: 0.1rem;
        padding-left: 1px !important;
        padding-right: 1px !important;
    }

    .card-title {
        font-size: 1rem;
    }
    .card-text {
        font-size: 13px;
    }
}

.contact-icon {
    font-size: 2rem;
    padding-right: 1rem;
}

input,
textarea {
    border-color: #fff !important;
    background-color: #000 !important;
    color: #fff !important;
}

input::placeholder,
textarea::placeholder {
    color: #c7c7c7 !important; 
}

.form-control {
    border-width: 2px !important;
}

.message-btn {
    font-weight: 500;
}

@media screen and (max-width: 986px) {
    .contact-icon {
        font-size: 2rem;
        padding-right: 0.5rem;
    }
}

@media screen and (max-width: 300px) {
    .contact-icon {
        font-size: 1.5rem;
        padding-right: 0.3rem;
    }
}


.email-text {
    font-size: 1.25rem;
}

@media screen and (max-width: 986px) {
    .email-text {
        font-size: 1rem;
    }
}



/* animation */
@keyframes zoomIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
}
  
/* .page {
    animation: zoomIn 0.5s ease-in-out;
} */

.message-us-head{
    margin-top: 27px;
}
  
.content-head,
.content-icon-1,
.content-icon-2,
.content-p,
.btn-lg,
.box,
.card,
.contact-icon,
.contact-mail-phone,
.message-us-head,
input,
textarea,
.message-us-button {
    opacity: 0;
    animation: zoomIn 0.5s ease-in-out forwards;
}
  
.content-icon-1 { animation-delay: 0.5s; }
.content-icon-2 { animation-delay: 0.5s; }
.content-p { animation-delay: 0.5s; }
.box {animation-delay: 1s;}
.card { animation-delay: 0.5s; }
.contact-icon { animation-delay: 0.5s; }
.contact-mail-phone { animation-delay: 0.7s; }
.message-us-head { animation-delay: 1s; }
input { animation-delay: 1.5s; }
textarea { animation-delay: 1.5s; }
.message-us-button { animation-delay: 1.5s; }

.text-justify{
    text-align: justify !important;
}